---
layout: page
title: Quantum Force
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">Bridging Quantum Computing &#38; Humanity</h1>
          <p class="animated fadeInUp">We research on full-stack Quantum Computing <br>for Industrial and Societal applications</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>
            <p>Quantum technology startup from TU Delft</p>
          </div>
          <p>Highly motivated to change the World, we are constantly learning and evolving to adapt ourselves to the ever-changing landscape of full-stack Quantum Computing </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/stack.jpg" alt="QC Stack">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>Our mission</h2>
      <p>Accelerate the benefits of high-performance Quantum Computing for Society.</p>    
      <p>Develop a future-proof quantum framework for real word problems like health (genome), automation (AI), automotive (driving), security (cyber), finance (crypto) and much more.</p>
      <p>Some will be shared (e.g. health), some will be protected (e.g. cyber), while cross-planet cooperation is the sole way forward.</p>
      <a href="/projects/" class="btn btn-view-works">Browse our Projects</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Services</h2>
        <p>We are on the process of positioning ourselves in the quantum computing landscape</p>
      </div>
    </div>
    <div class="row ">

      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-university"></i>
          <h4>Education</h4>
          <p>Developing the quantum work-force for the new era of computing </p>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-settings"></i>
          <h4>Industry</h4>
          <p>Consultancy for quantum adoption </p>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Society</h4>
          <p>Application for near-term </p>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Science</h4>
          <p>Discover new knowledge frontiers </p>
        </div>
      </div>

    </div>
  </div>
</section>


<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We try to push the boundary of human knowledge</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself the work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to create a better World.</p>
          <a class="btn btn-default btn-call-to-action" href="/team/" >Tell us your story</a>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun facts</h2>
        <p>Step 1: Put Q before anything you speak</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>

      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>

    </div>
  </div>
</section>
